                          <p class="block animatable bounceIn">I am also a <strong class="portfolio-highlight">Wordpress/Front End Web
                                                        Developer/CMS Web Editor </strong> and was
                                                    a graduate of <strong class="portfolio-highlight">Just IT Training </strong> and work on various brand websites for both article and event websites for <strong class="portfolio-highlight">BSI Group </strong>, <strong class="portfolio-highlight">Nexus Media Group </strong>, <strong class="portfolio-highlight">Mark Allen Group </strong>. </p>
                                                <p class="block animatable bounceIn m-b-2">I have always been
                                                    creative and
                                                    imaginary. I moved to London to pursude a long dream in <strong class="portfolio-highlight">digital
                                                        design </strong>. to
                                                    make my mark in <strong class="portfolio-highlight">web design</strong>. I came across <strong class="portfolio-highlight">web
                                                        development
                                                    </strong> in early
                                                    2017 and see it as a fun exciting element to my design skillset. I
                                                    instantly enjoyed it
                                                    and <strong class="portfolio-highlight">self taught </strong> initally through <strong class="portfolio-highlight">Pluralsight</strong>.
                                                    Then I
                                                    came across a
                                                    <strong class="portfolio-highlight">self funded training </strong> facility called <strong class="portfolio-highlight"> Just IT Training
                                                    </strong> and saw this
                                                    as a perfect oppurtunity to give my career the start it needed and
                                                    <strong class="portfolio-highlight">
                                                        enjoyed </strong> the
                                                    challenges it brought. </p>

                                                <p class="block animatable bounceIn m-b-2">I have been into <strong class="portfolio-highlight">
                                                        digital design &amp;
                                                        development plus marketing </strong> in computers as far back as when I was in
                                                    college
                                                    with courses
                                                    like <strong class="portfolio-highlight">Interactive Media and Art &amp; Design</strong>
                                                    with a
                                                    <strong class="portfolio-highlight">degree in
                                                        Illustration </strong>. I have implented my <strong class="portfolio-highlight">designs </strong> with
                                                    them
                                                    and being <strong class="portfolio-highlight">
                                                        fascinated </strong> in the <strong class="portfolio-highlight">interface designing aspects </strong>
                                                    with
                                                    the projects I
                                                    have developed.</p>
