                                                            <h1>My Story</h1>
                                                            <p>Languages Used: HTML5, CSS, jQuery, JSON, AJAX, JavaScript, Bootstrap</p>
                                                            <p>Story project with carousel and JSON profiles.</p>
                                                        <p>
                                                                <button><a href="./story/home" target="_blank" rel="noopener noreferrer">VIEW</a></button> |
                                                            <button><a href="https://github.com/msreeves87/perception-story/" target="_blank" rel="noopener noreferrer">SEE CODE</a></button>
                                                        </p>
