                                        <h1>Sample Articles</h1>
                                        <p>Languages Used: HTML5, CSS, Bootstrap</p>
                                        <p>A project which is a website that contains <strong class="portfolio-highlight">sample design</strong> in <strong class="portfolio-highlight">sample articles</strong>.</p>
                                        <p>
                                           <button><a href="./sample/index.html" target="_blank" rel="noopener noreferrer">VIEW</a></button> |
                                           <button><a href="https://github.com/msreeves/sample-articles" target="_blank" rel="noopener noreferrer">SEE CODE</a></button>
                                        </p>
