                                        <h1>Sample Tailwind</h1>
                                        <p>Languages Used: HTML5, CSS, Tailwind</p>
                                        <p>A project which is a website that contains <strong class="portfolio-highlight">sample tailwind code</strong> in a <strong class="portfolio-highlight">sample tailwind project</strong>.</p>
                                        <p>
                                           <button><a href="./Tailwind/home" target="_blank" rel="noopener noreferrer">VIEW</a></button> |
                                           <button><a href="https://github.com/msreeves/sample-tailwind" target="_blank" rel="noopener noreferrer">SEE CODE</a></button>
                                        </p>
