                                                    <h1>Let's Play Hangman!</h1>
                                                    <p>Languages Used: HTML5, CSS, JavaScript</p>
                                                    <p>A Hangman game where you have 10 lives or you are dead!</p>
                                                <p>
                                                     <a class="portfolio-chip" href="./projects/game/" target="_blank" rel="noopener noreferrer">VIEW</a> |
                                                    <a class="portfolio-chip" href="https://github.com/msreeves87/hangman-game" target="_blank" rel="noopener noreferrer">SEE CODE</a>
                                                </p>
