                            <h3>ONLINE COURSES I HAVE STUDIED</h3>
                                                               <a href="./media/images/adobe-photoshop.jpg" target="_blank">ADOBE PHOTOSHOP</a> |
                                                                 <a href="./media/images/adobe-illustrator.jpg" target="_blank">ADOBE ILLUSTRATOR</a> |
                                                                   <a href="./media/images/dreamweaver.jpg" target="_blank">ADOBE DREAMWEAVER</a> |
                                                                    <a href="./media/pdf/d-marketing.pdf" target="_blank">DIGITAL MARKETING</a> |
                                                               <a href="./media/images/wordpress-beginners.jpg" target="_blank">WORDPRESS BEGINNERS</a> |
                                                               <a href="./media/images/wordpress-intermediate.jpg" target="_blank">WORDPRESS INTERMEDIATE</a> |
                                                               <a href="./media/images/flexbox.jpg" target="_blank">FLEXBOX</a> |
                                                               <a href="./media/images/webdesign-illustrator.jpg" target="_blank">WEB DESIGN - ILLUSTRATOR</a> |
                                                               <a href="./media/images/webdesign-photoshop.jpg" target="_blank">WEB DESIGN - PHOTOSHOP</a> |
                                                               <a href="./media/images/javascript-beginners.jpg" target="_blank">JAVASCRIPT - BEGINNERS</a>
                                                               
