                            <h3 class="title">Andrew Lewis - Senior Game Tester at Indigo Game.</h3>
                            <i class="fas fa-quote-left" aria-hidden="true"></i>
                            <p class="description">Throughout the 3 months that Mr. Reeves was working with us, he was a self-starter and 
                                knew how to follow instructions well, while also being able to take initiative as needed. In addition to 
                                having good judgment and communication skills and a high degree of integrity, Mr. Reeves was also interested 
                                in further learning about game testing, which he demonstrated by asking in-depth questions whenever he had concerns 
                                or would require guidance to ensure he was doing the right thing.
                             </p>   
                                <p class="description"> I am certain that the period he worked for us was an excellent experience that contributed 
                                    well to his learning and professional development. That being said, Mr. Michael Reeves would be an asset to your 
                                    organisation, and he has my recommendation. Should you have further questions regarding his qualifications, please feel free to contact me.
                            </p>
                        </div>
