                            <h3 class="title">Rita Bird - Line Manager at Mark Allen Group.</h3>
                            <i class="fas fa-quote-left" aria-hidden="true"></i>
                            <p class="description">I was Michael’s supervisor and line manager during his time with the Development Team at Mark Allen Group.  He joined us in November 2018.  He was furloughed (like many of us) from March 2020 until the furlough scheme came to an end in October.  At that point several members of the team (myself included) were either made redundant or were found other roles within the Group.  It is by no means any reflection on Mike or his abilities that he is now seeking another position.
Mike is a determined and conscientious individual.  He has worked hard at his own expense and in his own time to qualify as a developer. He has continued to study and improve his skillset while with us, and I know that he completed several online courses during lockdown.
When dealing with support requests via our internal helpdesk Mike was unfailingly polite and patient with a good instinct for problem-solving. 
</p>
<p class="description">
When involved in building new sites he would carefully plan any task assigned to him, taking into account any scheduling requirements and asking for assistance from more experienced colleagues if necessary.  He wasn’t afraid to put forward his own suggestions if he thought there might be a better way to accomplish a task either.
Despite a difficult commute (our offices are miles from the nearest station), Mike was always punctual and reliable, and happy to put in extra hours with the rest of the team when there was a deadline to meet.
Easy-going and cheerful, he was a popular member of the team and we were all sad to see him go. I wouldn’t hesitate to recommend Mike to you.  
                            </p>
