                            <h3 class="title">Sarah Bartley - Founder/MD at Fern &amp; Noble Ltd.</h3>
                            <i class="fas fa-quote-left" aria-hidden="true"></i>
                            <p class="description">Michael was a massive benefit to me in the stage that I was at. He
                                showed genuine interest in my project from the start and an eagerness to try new things.
                                He is good at problem solving which was important since I, without programming knowledge
                                had very clear had bold expectations of his work without knowing the skill required.
                             </p>   
                                <p class="description"> He was also very accommodating when I asked him to work outside of his field of expertise
                                to help me complete the backend data requirements ontop of customising and launching a
                                fully functioning webstore, including liaising professionally with the platform company
                                techs to install plug-ins and add code where they would have charged additional fees for
                                doing the work. He's a good all rounder and proved an excellent intern. I think he would
                                excel under another programmers instruction and I'm happy to discuss my experience in
                                greater detail by phone or email.
                            </p>
