                                        <h3 class="title">Indigo Game</h3>
                                        <h4 class="title">November 2020 - February 2021</h4>
                                        <p class="text-center">Omnibus Business Centre, 39-41 North Road, London N7 9DP</p>
                                        <p class="description">I am a junior game tester <strong class="portfolio-highlight">testing app games
                                                    </strong> as part of my <strong class="portfolio-highlight"> work experience</strong> using Microsoft Excel to produce testing spreadsheets 
                                                    to access for game <strong class="portfolio-highlight"> installation, gameplay, performance, response to SMG, voice calls 
                                                    </strong> etc. I started
                                                     performed testing and record methods and assessments of what is expected and record the results of
                                                    those tests in word documentation. I report <strong class="portfolio-highlight">bugs, defects </strong> that are reported back to the <strong class="portfolio-highlight">Senior Game Tester.</strong></p>
                                    </div>
