                                        <h3 class="title">Fern & Noble (Work Placement)</h3>
                                        <h4 class="title">January 2018 - March 2018</h4>
                                        <p class="text-center">118 Woodgrange Rd, London E7 0EW</p>
                                        <p class="description">I produced <strong class="portfolio-highlight">Front end </strong>changes to her current
                                            <strong class="portfolio-highlight">website</strong> aswell as creating <strong class="portfolio-highlight">new landing pages</strong>. Learning new
                                            languages like <strong class="portfolio-highlight">Worpress</strong> & <strong class="portfolio-highlight">Shopwired</strong>. Also working on a new
                                            <strong class="portfolio-highlight">E-Commerce website</strong> to advertise her new product line for her
                                            business.</p>
                                    </div>
