                                        <h3 class="title">BA Hons Illustration</h3>
                                        <h4 class="title">September 2013 - June 2016</h4>
                                        <p class="text-center">Swansea College of Art Dynevor Campus, De-La Beche St, Swansea SA1 3EU</p>
                                        <p class="description">I have developed a range of <strong class="portfolio-highlight">hand drawn</strong> and <strong class="portfolio-highlight">
                                                digital media skills</strong>. I have created <strong class="portfolio-highlight">books, posters and
                                                illustrative designs</strong> for <strong class="portfolio-highlight">gallery display</strong>, using <strong class="portfolio-highlight">
                                                programs</strong> like <strong class="portfolio-highlight">Adobe Photoshop, Illustrator, InDesign and
                                                AfterEffects</strong>.</p>
                                    </div>
