                                            <h3 class="title">BTEC Interactive Media</h3>
                                            <h4 class="title">September 2010 - June 2012</h4>
                                            <p class="text-center">City of Newport Campus, Nash Rd, Newport NP19 4TS</p>
                                            <p class="description">I developed the relevant skills and processes
                                                of 4 areas of <strong class="portfolio-highlight">digital media design</strong>. I have been
                                                experienced in
                                                using online software like <strong class="portfolio-highlight">3d Studio Max, GarageBand and
                                                    Dreamweaver</strong>. I have learned techniques of <strong class="portfolio-highlight">website
                                                    development,
                                                    3d digital modeling, video editing and dvd devlopment </strong>
                                                in order
                                                to create <strong class="portfolio-highlight">video, websites dvds </strong>and <strong class="portfolio-highlight">3d modeling</strong>
                                                .</p>
