                                        <h3 class="title">Foundation Art & Design</h3>
                                        <h4 class="title">September 2012 - June 2013</h4>
                                        <p class="text-center">Caerleon Campus, Lodge Road, Caerleon, NP18 3QT</p>
                                        <p class="description">Producing <strong class="portfolio-highlight">drawings</strong> on <strong class="portfolio-highlight">sculptures</strong> with
                                            making
                                            <strong class="portfolio-highlight">3d models</strong> and a range of <strong class="portfolio-highlight">hand drawn designs</strong> using
                                            traditional
                                            methods.</p>
                                    </div>
