                                        <h3 class="title">Just IT Training</h3>
                                        <h4 class="title">July 2017 - November 2017</h4>
                                        <p class="text-center">St. Clare House, 30-33 Minories, London EC3N 1DD</p>
                                        <p class="description">I developed the relevant skills and processes
                                            of being a Front end & Back end developer. I had learnt
                                            <strong class="portfolio-highlight">languages</strong> like <strong class="portfolio-highlight">HTML5, CSS, Javascript, JSON & PHP</strong>. I have
                                            been
                                            <strong class="portfolio-highlight">experienced </strong>in using <strong class="portfolio-highlight">online software</strong> like <strong class="portfolio-highlight">Bootstrap,
                                                JQuery and
                                                responsive design</strong> using <strong class="portfolio-highlight">media queries</strong>. I have learned the
                                            <strong class="portfolio-highlight">coding
                                                techniques</strong> in order to <strong class="portfolio-highlight">create games, websites</strong> and <strong class="portfolio-highlight">
                                                database
                                                projects</strong>.</p>
                                    </div>
