                                                                        <p class="block animatable bounceIn intro-position">I was an aspiring <strong class="portfolio-highlight">Game Tester </strong> and had completed
                                                                            a 3 month <strong class="portfolio-highlight">Work Experience </strong> with a gaming company called <strong class="portfolio-highlight">Indigo Game </strong>. </p>
                                                                        <p class="block animatable bounceIn m-b-2">I am a <strong class="portfolio-highlight">gaming
                                                                                fanatic
                                                                            </strong> from as
                                                                            early as the <strong class="portfolio-highlight"> Sega Mega Drive</strong> up to the <strong class="portfolio-highlight">Playstation 5
                                                                            </strong>. I started
                                                                            <strong class="portfolio-highlight">gaming</strong> as a kid with the Sega Drive playing Sonic the
                                                                            Hedgehog.
                                                                            I have continued that through <strong class="portfolio-highlight">PlayStation One</strong> to <strong class="portfolio-highlight"> Playstation 5 </strong> console playing
                                                                            the likes of
                                                                            <strong class="portfolio-highlight">FIFA, Uncharted, Tomb Raider, Ghost of Tsushuma, Far Cry, Kingdom Hearts</strong> and many more.
                                                                        </p>
