                                        <h3 class="block animatable bounceIn title">Mark Allen Group</h3>
                                        <p class="block animatable bounceIn" class="intro-position">
                                            <p class="block animatable bounceIn m-b-2">The <strong class="portfolio-highlight"><a href="https://www.markallengroup.com" target="_blank"> Mark Allen Group </a>
                                                </strong> is a
                                             <strong class="portfolio-highlight">media company agency</strong> which delivers content
                                                through
                                                <strong class="portfolio-highlight">market-leading
                                                    journals, magazines, books, events, exhibitions</strong> and <strong class="portfolio-highlight">
                                                    websites</strong>.</p>

                                                    <p class="block animatable bounceIn m-b-2"> I had been working as a <strong class="portfolio-highlight">Web Designer</strong> since November 2018 till October 2020 for Mark Allen Group
                                                    collabrating with front-end and back-end developers on various platforms including <strong class="portfolio-highlight"> events, education, healthcare etc</strong>.</p>

                                                    <p class="block animatable bounceIn m-b-2">The focus that I have is to continue learning in the working web environment. I want to expand further on my 
                                                        portfolio and continue <strong class="portfolio-highlight">improving my skills </strong> and learning further techniques in <strong class="portfolio-highlight">web development</strong>. </p>
                                                    
                                                    <p class="block animatable bounceIn m-b-2"> I worked on websites for various companies like <strong class="portfolio-highlight"><a href="https://www.gramophone.co.uk/" target="_blank">Gramophone</a>, <a href="https://www.nurseryworld.co.uk" target="_blank">Nursery World </a>, <a href="https://www.cypnow.co.uk" target="_blank">CYP Now</a>, <a href="https://www.technologybusinesstoday.com/" target="_blank">Technology Business Today </a>, <a href="https://www.tessenshow.co.uk/" target="_blank">Tes Show London</a>, <a href="https://www.madein.ie" target="_blank">Made in Ireland </a></strong> and <strong class="portfolio-highlight"><a href="https://www.dramaandtheatre.co.uk" target="_blank">Drama and Theatre </a></strong>. 
